#post{
.container{
  padding:25px;
  margin: 0 auto;

  .wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    display:flex;
    .box-1{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 1px solid grey;
      .fas{
        color: grey;
        position: absolute;
        padding-left: 12px;
        font-size: 20px;
        top: 108px;
      }
      .rightside{
        position: absolute;
        left: 171px;
        top: 105px;
        background:    #3d85c6;
        background:    blue;
        border-radius: 1000px;
        padding:       5px 18px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 12px/1 "Calibri", sans-serif;
        text-align:    center;
        text-shadow:   none;
        text-transform: uppercase;
      }
      h3{
        position: absolute;
        left: 70px;
        top: 112px;
        font-size: 12px;

      }
      p{
        position: relative;
        top: 46px;
        left: 17px;
        font-size: 13px;
        line-height: 1.5em;
        font-weight: 500;
      }
      #calendar{
        font-size: 20px;
        top: 214px;
        position: absolute;
        padding-left: 12px;
      }
      .date{
        font-size: 10px;
        left: 70px;
        top: 221px;
      }
      #people{
        font-size: 20px;
        position: absolute;
        top: 215px;
        left: 164px;
      }
      .bottom-numbers{
        font-size: 10px;

        top: 221px;
        left: 192px;

      }

    }
    .box-2{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
      .fas{
        color: grey;
        position: absolute;
        padding-left: 12px;
        font-size: 20px;
        top: 108px;
      }
      .rightside{
        position: absolute;
        left: 398px;
        top: 105px;
        background: #3d85c6;
        background:    blue;
        border-radius: 1000px;
        padding:       5px 18px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 12px/1 "Calibri", sans-serif;
        text-align:    center;
        text-shadow:   none;
        text-transform: uppercase;
      }
      h3{
        position: absolute;
        left: 328px;
        top: 112px;
        font-size: 12px;


      }
      p{
        position: relative;
        top: 46px;
        left: 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5em;
      }
      #calendar{
        font-size: 20px;
        top: 214px;
        position: absolute;
        padding-left: 12px;
      }
      .date{
        font-size: 10px;
        left: 328px;
        top: 221px;
      }
      #people{
        font-size: 20px;
        position: absolute;
        top: 215px;
        left: 419px;
      }
      .bottom-numbers{
        font-size: 10px;

        top: 221px;
        left: 444px;

      }
    }
    .box-3{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
      .fab{
        color: grey;
        position: absolute;
        padding-left: 12px;
        font-size: 20px;
        top: 108px;
      }
      .rightside{
        position: absolute;
        left: 689px;
        top: 105px;
        background: #3d85c6;
        background:    blue;
        border-radius: 1000px;
        padding:       5px 18px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 12px/1 "Calibri", sans-serif;
        text-align:    center;
        text-shadow:   none;
        text-transform: uppercase;
      }
      h3{
        position: absolute;
        left: 588px;
        top: 112px;
        font-size: 12px;


      }
      p{
        position: relative;
        top: 46px;
        left: 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5em;
      }
      #calendar{
        font-size: 20px;
        top: 214px;
        position: absolute;
        padding-left: 12px;
      }
      .date{
        font-size: 10px;
        left: 588px;
        top: 221px;
      }
      #people{
        font-size: 20px;
        position: absolute;
        top: 215px;
        left: 690px;
      }
      .bottom-numbers{
        font-size: 10px;

        top: 221px;
        left: 716px;

      }
    }

    .box-4{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
      .fas{
        color: grey;
        position: absolute;
        padding-left: 12px;
        font-size: 20px;
        top: 108px;
      }
      .rightside{
        position: absolute;
        left: 942px;
        top: 105px;
        background: #3d85c6;
        background:    blue;
        border-radius: 1000px;
        padding:       5px 18px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 12px/1 "Calibri", sans-serif;
        text-align:    center;
        text-shadow:   none;
        text-transform: uppercase;
      }
      h3{
        position: absolute;
        left: 846px;
        top: 112px;
        font-size: 12px;


      }
      p{
        position: relative;
        top: 46px;
        left: 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5em;
      }
      #calendar{
        font-size: 20px;
        top: 214px;
        position: absolute;
        padding-left: 12px;
      }
      .date{
        font-size: 10px;
        left: 846px;
        top: 221px;
      }
      #people{
        font-size: 20px;
        position: absolute;
        top: 215px;
        left: 952px;
      }
      .bottom-numbers{
        font-size: 10px;

        top: 221px;
        left: 977px;

      }

    }
    .box-5{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
      .fas{
        color: grey;
        position: absolute;
        padding-left: 12px;
        font-size: 20px;
        top: 108px;
      }
      .rightside{
        position: absolute;
        left: 1175px;
        top: 105px;
        background: #3d85c6;
        background:    blue;
        border-radius: 1000px;
        padding:       5px 18px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 12px/1 "Calibri", sans-serif;
        text-align:    center;
        text-shadow:   none;
        text-transform: uppercase;
      }
      h3{
        position: absolute;
        left: 1106px;
        top: 112px;
        font-size: 12px;


      }
      p{
        position: relative;
        top: 46px;
        left: 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5em;
      }
      #calendar{
        font-size: 20px;
        top: 214px;
        position: absolute;
        padding-left: 12px;
      }
      .date{
        font-size: 10px;
        left: 1106px;
        top: 221px;
      }
      #people{
        font-size: 20px;
        position: absolute;
        top: 215px;
        left: 1200px;
      }
      .bottom-numbers{
        font-size: 10px;

        top: 221px;
        left: 1226px;

      }
    }
    .box-6{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-7{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-8{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-9{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-10{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-11{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-12{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-13{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-14{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }
    .box-15{
      margin-bottom: 10px;
      margin-right: 40px;
      width: 220px;
      height: 150px;
      background: white;
      border: 2px solid grey;
    }


  }
}
}
